<ion-header>
  <ion-navbar>
    <ion-title>
      <p color="detail">Detalhe do Produto</p>
    </ion-title>
    <ion-buttons end>
      <menu-icon></menu-icon>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <img [src]="produto.img">

    <ion-card-content>
      <ion-card-title color="twitterDarkBlue">
        <b>{{produto.nome | uppercase}}</b>
      </ion-card-title>

      <p id="descricao">
        {{produto.descricao}}
      </p>

      <br>

      <ion-item-divider>
        <ion-card-header>
          <h5 color="twitterDarkBlue"><b>INFORMAÇÕES</b></h5>
        </ion-card-header>

        <ion-row>
          <ion-col text-right>
            <h5 color="dark-grey"><b>Código de Barras :</b></h5>
            <h5 color="dark-grey"><b>Preço : </b></h5>
            <h5 color="dark-grey"><b>Cor :</b></h5>
            <h5 color="dark-grey"><b>Tamanho :</b> </h5>
            <h5 color="dark-grey"><b>Data do cadastro :</b> </h5>
            <h5 color="dark-grey"><b>Grupo:</b></h5>
            <h5 color="dark-grey"><b>Público  :</b></h5>

          </ion-col>
          <ion-col text-left>
            <h5 [color]="cor">{{produto.codigo_barras}}</h5>
            <h5 color="dark-grey"> R$ {{produto.preco}}</h5>
            <h5 color="dark-grey"> {{produto.cor}}</h5>
            <h5 color="dark-grey"> {{produto.tamanho}}</h5>
            <h5 color="dark-grey"> {{produto.data_cadastro | date:"dd/MM/yyyy"}}</h5>
            <h5 color="dark-grey"> {{grupoDoProduto.__zone_symbol__value}}</h5>
            <h5 color="dark-grey" *ngIf="produto.genero === 'm'">Masculino</h5>
            <h5 color="dark-grey" *ngIf="produto.genero === 'f'">Feminino</h5>
          </ion-col>
        </ion-row>
      </ion-item-divider>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title color="twitterDarkBlue">
        <b>COMPARTILHAR</b>
      </ion-card-title>

      <ion-row>
        <ion-col>
          <button ion-fab color="whatsApp" (click)="compartilharWhatsApp()">
            <ion-icon color="detail" ios="logo-whatsapp" md="logo-whatsapp"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-fab color="facebook" (click)="compartilharFacebook()">
            <ion-icon color="detail" ios="logo-facebook" md="logo-facebook"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-fab color="instagram" (click)="compartilharInstagram()">
            <ion-icon color="detail" ios="logo-instagram" md="logo-instagram" name=""></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <button ion-fab color="search-buttom" (click)="compartilhar()">
            <ion-icon color="detail" ios="ios-share-alt" md="md-share-alt"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content >
