<ion-header>
    <ion-navbar>
        <ion-title>
            <p color="detail">Procurar Produtos</p>
        </ion-title>
        <ion-buttons end>
          <menu-icon></menu-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
  <form>
    <ion-item>                  
      <ion-label color="twitterDarkBlue">Buscar todos ?</ion-label>
      <ion-toggle #toggle color="secondary" (ionChange)="atualizaTotal(toggle.checked, item)"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="!pesquisarTodos">
      <ion-label color="twitterDarkBlue" floating>Nome</ion-label>
      <ion-input name="nome" (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.nome" maxlength="20" clearInput></ion-input>
    </ion-item>

    <ion-item *ngIf="!pesquisarTodos">
      <ion-label color="twitterDarkBlue" floating>Descrição</ion-label>
      <ion-input name="descricao" (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.descricao" maxlength="50" clearInput></ion-input>
    </ion-item>

    <ion-item *ngIf="!pesquisarTodos">
      <ion-label color="twitterDarkBlue" floating>Preço</ion-label>
      <ion-input type="number" name="preco" (ngModelChange)="conferirPreenchimento()"  [(ngModel)]="produto.preco"></ion-input>
    </ion-item>

    <br>

    <ion-item *ngIf="!pesquisarTodos">
      <ion-label color="twitterDarkBlue"> Cor </ion-label>
      <ion-select (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.cor" multiple="false" [ngModelOptions]="{standalone: true}">
        <ion-option *ngFor="let cor of cores" [value]="cor" >{{cor}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!pesquisarTodos"> 
      <ion-label color="twitterDarkBlue">Tamanho</ion-label>
      <ion-select (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.tamanho" multiple="false" [ngModelOptions]="{standalone: true}">
        <ion-option *ngFor="let tamanho of tamanhos" [value]="tamanho" >{{tamanho}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="!pesquisarTodos">
      <ion-label  color="twitterDarkBlue" floating>Data do Cadastro</ion-label>
      <ion-datetime  name="data_evento" (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.data_cadastro" displayFormat="DD/MM/YY"></ion-datetime>
    </ion-item>

    <br>
<!--
       <ion-item>
        <ion-label color="twitterDarkBlue">Grupo</ion-label>
        <ion-select [(ngModel)]="produto.grupo" multiple="false" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let grupo of grupos" [value]="grupo.id" >{{grupo.nome}}</ion-option>
        </ion-select>
      </ion-item>  -->

      <ion-card *ngIf="!pesquisarTodos">
        <ion-card-header  color="twitterDarkBlue">
          <b>Público</b>
        </ion-card-header>

        <ion-list radio-group (ngModelChange)="conferirPreenchimento()" [(ngModel)]="produto.genero" [ngModelOptions]="{standalone: true}">
          <ion-item>
            <ion-label color="twitterDarkBlue">Masculino</ion-label>
            <ion-radio value="m" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label color="twitterDarkBlue">Feminino</ion-label>
            <ion-radio value="f"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-card>

    <button *ngIf="pesquisarTodos || mostrarBotao" [color]="myColor" [round]="isRound" ion-button block (click)="pesquisar()">
       BUSCA LÁ
    </button>
  </form>
</ion-content>

