<ion-header>
    <ion-navbar>
        <ion-title>
            <p color="detail">CÓDIGO</p>
        </ion-title>
        <ion-buttons end>
          <menu-icon></menu-icon>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-item text-center>
    <ion-icon name="barCode" color="detail" ios="ios-barcode" md="md-barcode" on-tap="lerCodigoBarras()"></ion-icon>
    <p color="twitterDarkBlue"><b>Ler Cód. Barras</b></p>
  </ion-item>

  <br><br>

  <ion-item text-center>
    <h3 color="twitterDarkBlue"><b>INFORMAÇÕES DO CÓDIGO</b></h3>
    <h5 color="dark-grey"><b>Código:</b> 1231231231</h5>
  </ion-item>

  <br>

  <ion-item text-center>
    <h3 color="twitterDarkBlue"><b>INFORMAÇÕES DO PRODUTO</b></h3>
    <ion-row>
      <ion-col class="border-right" text-right>
        <h5 color="dark-grey"><b>Preço </b></h5>
        <h5 color="dark-grey"><b>Cor </b></h5>
        <h5 color="dark-grey"><b>Tamanho </b> </h5>
        <h5 color="dark-grey"><b>Data do cadastro </b> </h5>
        <!-- <h5 color="dark-grey"><b>Grupo:</b> {{grupoDoProduto.nome}}</h5> -->
        <h5 color="dark-grey" *ngIf="produto.genero === 'm'"><b>Público  </b></h5>
        <h5 color="dark-grey" *ngIf="produto.genero === 'f'"><b>Público  </b></h5>
      </ion-col>
      <ion-col text-left>
        <h5 color="dark-grey"> R$ {{produto.preco}}</h5>
        <h5 color="dark-grey"> {{produto.cor}}</h5>
        <h5 color="dark-grey"> {{produto.tamanho}}</h5>
        <h5 color="dark-grey"> {{produto.data_cadastro | date:"dd/MM/yyyy"}}</h5>
        <!-- <h5 color="dark-grey"><b>Grupo:</b> {{grupoDoProduto.nome}}</h5> -->
        <h5 color="dark-grey" *ngIf="produto.genero === 'm'">Masculino</h5>
        <h5 color="dark-grey" *ngIf="produto.genero === 'f'">Feminino</h5>
      </ion-col>
    </ion-row>
  </ion-item>

  <br>

  <button [color]="myColor" [round]="isRound" ion-button block (click)="continuar()">
    {{textoBotao}}
  </button>

</ion-content>

